.container.contact_container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option {
    background: var(--color-bg);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid white;
    transition: var(--transintion);
}

.contact_option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #fff;
    resize: none;
    color: #fff;
}

.flash-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    color: #4BB543;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .flash-message .icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
  }
  

/* Media queries */
  
@media screen and (max-width: 600px) {
    .container.contact_container {
        width: var(--container-width-sm);
    }
}

@media screen and (max-width: 1024px) {
    .container.contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}