@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #000000;
  --color-bg-variant: #474a56;
  --color-primary-variant: #d3d5fd;
  --color-white: #fff;
  --color-light: rgba(255,255,255, 0.6);
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url(./assets/nnnoise.svg);
}

/* Estilos Gerais */

.container {
  width: var(--container-width-lg);
  margin: auto;
}

h1,h2,h3,h4,h5 {
  font-weight: 500;
}

section {
  margin-top: 8rem;
  height: 100vh;
}

section > h2, section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary-variant);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary-variant);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary-variant);
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary-variant);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary-variant);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Media queries MD */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}

/* Media queries SD */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-ms);
  }
  section {
    margin-bottom: 2rem;
  }
}
